<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.app.mapper.OrganMapper">




	
	<!-- 측정자 아이디로 측정 예정 기관 목록 조회 --> 
    <select id="selectOrganList" parameterType="String" resultType="hashmap">
		
		SELECT 
			SCHOOL_CODE
			,SCHOOL_NAME
		FROM ST_SCHOOL_INFO
		WHERE 1=1
		AND IS_VISIBLE = 'Y'
				
    </select >





	<!-- 측정자 아이디로 측정 예정 기관 목록 조회 --> 
    <select id="selectMeasureOrganList" parameterType="String" resultType="hashmap">
		
		SELECT SMOL.USER_ID												AS USER_ID
		   ,SMOL.ORGAN_CODE											AS SCHOOL_CODE
		   ,SSI.SCHOOL_NAME											AS SCHOOL_NAME
		   ,DATE_FORMAT(SMOL.MEASURE_DT, '%Y-%m-%d') 				AS MEASURE_DT
		FROM ST_MEASURE_ORGAN_LOG SMOL
		LEFT OUTER JOIN ST_SCHOOL_INFO SSI
		ON SMOL.ORGAN_CODE = SSI.SCHOOL_CODE
		WHERE 1=1
		AND SMOL.USER_ID = #{userId}
				
    </select >




	
	<!-- 부서(반) 회원 리스트 조회 --> 
    <select id="selectDepartmentList" parameterType="String" resultType="hashmap">
    
			SELECT SU.USER_NO										AS userNo
					   ,SU.USER_ID										AS userId
					   ,SU.USER_NAME								AS userName
					   ,STUD.SCHOOL_CODE							AS schoolCode
					   ,STUD.CLASS_CODE							AS classCode
					   ,SCI.CLASS_NAME								AS className
			FROM ST_USER SU
			LEFT OUTER JOIN ST_TEACHER_USER_DETAIL STUD
			ON SU.USER_ID = STUD.USER_ID
			RIGHT OUTER JOIN (
											SELECT DISTINCT * FROM ST_CLASS_INFO
											WHERE 1=1
									  ) SCI
			ON STUD.CLASS_CODE = SCI.CLASS_CODE
			WHERE 1=1
		<if test="organCd != null and organCd != '' ">
			AND STUD.SCHOOL_CODE = #{organCd}
		</if>
			AND SU.USER_TYPE = 'TC'
			ORDER BY SU.USER_ID ASC
			
    </select >
    
    
    
    
    
	<!-- 부서(반)에 해당하는 피측정자 회원 수 조회 -->
    <select id="selectDepartmentUserCount" parameterType="String" resultType="Integer">
    
		SELECT COUNT(*) FROM ST_STUDENT_USER_DETAIL
		WHERE 1=1
		AND TEACHER_ID = #{userId}
		
    </select>
	
	
	
	
	
	<!-- 측정자 목록 조회 -->
    <select id="selectMeasurerList" resultType="hashmap">
    
		SELECT 
			MEASURER_ID
			,MEASURER_NM
			,MEASURER_EMAIL
			,MEASURER_TEL_NO
		FROM ST_MEASURER_INFO
		WHERE 1=1
		
    </select>
	
	
	
	
	
</mapper>